.logo {
	max-width: 100px;
}

.icon {
	font-size: .9rem;
	color: $success;
}

.title {
	font-size: 2.5em;
}

.subtitle {
	font-size: 1.6em;
	@media (max-width: 768px) {
		font-size: 1.3em;
	}
	position: relative;
	padding-top: .9rem;
	display: inline-block;

	&::before {
		content: '';
		width: 25%;
		height: 5px;
		background-color: rgba($success, .9);
		position: absolute;
		top: 0;
		left: 40%;
	}
}

.card {
	box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.15);
}

.title,
.card-title,
.subtitle {
	font-weight: 700;
}

.card-title {
	font-size: 1.1rem;
}

.form-control,
.custom-select {
	border-radius: .1rem;
	box-shadow: none !important;
}