.row.courses-list.mt-5
  .col-md-6.mb-3
    <div class="card course">
      .card-header.position-relative.p-0
        <img src="images/excel.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Excel Básico, intermedio y avanzado</h5>
        <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-success float-right">Más información</a>
      </div>
    </div>
  .col-md-6.mb-3
    <div class="card course">
      .card-header.position-relative.p-0
        <img src="images/primeros_auxilios.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Primeros Auxilios para Emergencias Infantiles</h5>
        <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-success float-right">Más información</a>
      </div>
    </div>
  .col-md-6.mb-3
    <div class="card course">
      .card-header.position-relative.p-0
        <img src="images/plants.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Plantas medicinales para usos terapéuticos</h5>
        <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-success float-right">Más información</a>
      </div>
    </div>
  .col-md-6.mb-3
    <div class="card course">
      .card-header.position-relative.p-0
        <img src="images/manipulacion_de_alimentos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Técnicas de Higiene y Manipulación de alimentos</h5>
        <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-success float-right">Más información</a>
      </div>
    </div>
  .col-md-6.mb-3
    <div class="card course">
      .card-header.position-relative.p-0
        <img src="images/primeros_auxilios.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Primeros Auxilios para Emergencias Infantiles</h5>
        <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-success float-right">Más información</a>
      </div>
    </div>
  .col-md-6.mb-3
    <div class="card course">
      .card-header.position-relative.p-0
        <img src="images/plants.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Plantas medicinales para usos terapéuticos</h5>
        <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-success float-right">Más información</a>
      </div>
    </div>