<div class="modal mt-5" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContact" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            include form_contact.pug
        </div>
    </div>
  </div>
</div>