div.social.py-2
  a(href="https://www.facebook.com/agap.capacitaciones/", target="_blank").d-inline-block.p-1
    span.icon
      <i class="fab fa-facebook-f"></i>
  a(href="https://api.whatsapp.com/send?56979457917=numero&text=Hola quiero recibir información sobre sus cursos", target="_blank").d-inline-block.p-1
    span.icon
      <i class="fab fa-whatsapp"></i>
  a(href="https://twitter.com/agap_capacita", target="_blank").d-inline-block.p-1.mx-1
    span.icon
      <i class="fab fa-twitter"></i>
  a(href="https://www.instagram.com/agap.capacitaciones/", target="_blank").d-inline-block.p-1
    span.icon
      <i class="fab fa-instagram"></i>