<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Agap capacitaciones
        //- Icon
        <link rel="icon" type="image/ico" href="images/logo_icon.ico" />
        //- Fonts
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap|Lato&display=swap" rel="stylesheet">

        //- Slider styles
        //- <link rel="stylesheet" href="css/owl.carousel.min.css">
        //- <link rel="stylesheet" href="css/owl.theme.default.css">
        link(rel="stylesheet", href="css/app.css")
    body.position-relative
        button(type="button", data-toggle="modal", data-target="#modalContact").btn.btn-danger.quotation Cotiza aquí
        include ../components/modal.pug
        main
            block main
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        script(src="js/app.js")