extends layout/template

block main
    include sections/header.pug
    include sections/slider.pug
    include sections/features.pug
    include sections/ubication.pug
    include sections/footer.pug