.about-description {
	margin-top: 7rem;
    
    .slide {
        position: static;
    }

    .carousel-indicators {
        bottom: -15px;
        left: 0;
    }

    .carousel-indicators {
        background-color: rgba($dark, .15);
    }
}