.footer {
	@media (max-width: 768px) {

		.text-muted, span {
			font-size: .78em;
		}
	}
	margin-top: 7rem;
	box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.15);

	.subtitle {
		font-size: 1.1rem;
	}
}

.copyright {
	color: rgba($white, .9);
	font-size: .9rem;
}

.pages_of_interest {
	.text-muted {
		transition: color .5s;
		&:hover {
			color: $success !important;
		}
	}
}