.header {
	z-index: 100;
}

.header,
.navbar-top {
	box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.15);
}

.top-menu {
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid rgba($dark, .08);

	.text-muted {
		font-size: 14px;
	}

	.top-menu-info {
		@media (max-width: 320px) {
			span {
				font-size: .9em;
			}
		}
	}
}

.nav-link {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: rgba($dark, .9);
	transition: color .5s;

	&:hover {
		color: $success;
	}
}

.social {
	.icon {
		display: inline-block;
		padding: 0 .5rem;
		color: rgba($dark, .9);

		&:hover {
			color: $dark;
		}
	}
}