.tweets {
	margin-top: 7rem;
}

.about-page {
	margin-top: 100rem;
	background-image: url('../images/agap.jpg');
	background-size: cover;
	height: 70vh;
	position: relative;

	.subtitle,
	p {
		z-index: 100;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba($dark, .5);
		position: absolute;
	}
}