section.about-description.container-fluid.bg-light
  .row
    .col-md-6.px-0
      img(src="images/agap.jpg", alt="").img-fluid
    .col-md-6
      <div id="carousel" class="carousel slide h-100" data-ride="carousel">
        <ol class="carousel-indicators mx-0">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner h-100">
          <div class="carousel-item w-100 h-100 active">
            .d-flex.flex-column.justify-content-center.p-3.h-100
              h2.subtitle.align-self-start Bienvenido a Agap
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dicta dignissimos sit. Voluptatum, et perspiciatis maxime esse alias praesentium non ea blanditiis architecto deserunt explicabo sit unde quasi dolor quam.
          </div>
          <div class="carousel-item w-100 h-100">
            .d-flex.flex-column.justify-content-center.p-3.h-100
              h2.subtitle.align-self-start Misión
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dicta dignissimos sit. Voluptatum, et perspiciatis maxime esse alias praesentium non ea blanditiis architecto deserunt explicabo sit unde quasi dolor quam.
          </div>
          <div class="carousel-item w-100 h-100">
            .d-flex.flex-column.justify-content-center.p-3.h-100
              h2.subtitle.align-self-start Visión
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dicta dignissimos sit. Voluptatum, et perspiciatis maxime esse alias praesentium non ea blanditiis architecto deserunt explicabo sit unde quasi dolor quam.
          </div>
        </div>
      </div>