section.about-description.container-fluid.bg-light
    .row
        .col-md-6.px-0
            img(src="images/agap.jpg", alt="").img-fluid
        .col-md-6
            <div class="owl-carousel about owl-theme">
                <div class="item position-relative">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-5">
                        <h2 class="subtitle">Bienvenido a Agap</h2>
                        p Somos un Organismo de Capacitación que tiene como objetivo brindar enseñanza teorico-técnica para el desarrollo de las Personas del Sur de Chile.
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perspiciatis incidunt libero officiis sit quibusdam voluptate enim cum quod earum perferendis ducimus totam exercitationem architecto beatae laborum, dicta soluta tempore?
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item position-relative">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-8">
                        <h2 class="subtitle">Misión</h2>
                        p Misión ipsum dolor sit amet, consectetur adipisicing elit. At, vero nihil. Debitis rem repellat architecto deleniti minus pariatur commodi, a possimus sed esse ratione, soluta! Sint eum dolorem magni, quasi.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item position-relative">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-8">
                        <h2 class="subtitle">Visión</h2>
                        p Visión ipsum dolor sit amet, consectetur adipisicing elit. Vel quam sunt accusamus obcaecati aperiam dolores enim. Voluptates, doloremque, qui! Quisquam incidunt, dignissimos itaque. Quae in soluta dignissimos enim, corporis facere.
                      </div>
                    </div>
                  </div>
                </div>
            </div>