section.courses.container
    .row
        .col-md-8.offset-md-2
            .text-center
                h2.subtitle.mt-5.mb-3 Conoce nuestros cursos
                p.text-muted  En Agap contamos con cursos especializados para tu crecimiento personal y profesional. ¿Te interesa alguno de estos? no dudes en contactarnos.
    include ../components/courses_list.pug

