footer.footer.pt-5
    .container
        .row
            .col-md-3.mb-3.mb-md-0
                .text-center
                    img(src="images/logo.jpg", alt="Logo Agap").logo
                p.text-muted.text-justify Somos un Organismo de Capacitación que tiene como objetivo brindar enseñanza teorico-técnica para el desarrollo de las Personas del Sur de Chile.
                .text-center
                    include ../components/social_networks.pug
            .col-md-3.pages_of_interest.text-center.pl-0.pl-md-5.mb-3.mb-md-0.text-md-left.d-none.d-md-block
                h2.subtitle.mt-3.mb-4 Páginas de interés
                ul.list-unstyled
                    li.my-3
                        a(href="sobre-nosotros.html").text-muted Sobre nosotros
                    li.my-3
                        a(href="cursos.html").text-muted Cursos
                    li.my-3
                        a(href="galeria.html").text-muted Galería
                    li.my-3
                        a(href="contacto.html").text-muted Contacto
            .col-md-3.mb-3.mb-md-0.pl-0.pl-md-5.text-center.text-md-left
                h3.subtitle.my-3 Ubicación
                p.mt-3.text-muted.p-1.bg-light
                      span.mr-2.icon
                        <i class="fas fa-map-marker-alt"></i>
                      span Puerto Montt, Chile
                p.mt-3.text-muted.p-1.bg-light.mb-4
                      span.mr-2.icon
                        <i class="far fa-clock"></i>
                      span lunes a viernes de 9:00 a.m. a 6:00 p.m.
            .col-md-3.mb-3.mb-md-0.pl-0.pl-md-5.text-center.text-md-left
                h3.subtitle.my-3 Contacto
                p.mt-3.text-muted.p-1.bg-light
                    span.mr-2.icon
                        <i class="fas fa-phone"></i>
                    span +56 979457917
                p.mt-3.text-muted.p-1.bg-light
                    span.mr-2.icon
                        <i class="fas fa-phone"></i>
                    span +56 959206529
    .bg-dark.text-center.mt-3.p-3
        p.copyright.m-0 © Copyright ©2019 Todos los derechos reservados | Agap