header.header.fixed-top.bg-white.navbar-top.p-1
    .container
        .row.p-0.top-menu
            .col-md-12.d-flex.justify-content-center.justify-content-sm-between.align-items-center.flex-wrap
                div.d-flex.align-items-center.top-menu-info
                    p.m-0.mr-4.text-muted.p-1
                      span.mr-2.icon
                        <i class="fas fa-phone"></i>
                      span +56 979457917
                    p.m-0.text-muted.p-1
                      span.mr-2.icon
                        <i class="far fa-envelope"></i>
                      span agap@mail.com
                include ../components/social_networks.pug
    #navbar
      .container
        .row
            .col-md-12
                <nav  class="navbar navbar-expand-lg p-0">
                    <a class="navbar-brand" href="index.html">
                        img(src="images/logo.jpg", alt="Logo Agap").logo
                    </a>
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        <i class="fas fa-align-justify"></i>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto text-center">
                          <li class="nav-item mx-2">
                            <a class="nav-link" href="index.html">Inicio</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link" href="sobre-nosotros.html">Sobre nosotros</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link" href="cursos.html">Cursos</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link" href="galeria.html">Galería</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                          </li>
                        </ul>
                    </div>
                </nav>