<div class="welcome owl-carousel slider-home owl-theme position-relative">
    <div class="item d-flex justify-content-center position-relative">
      <img src="images/manipulacion_de_alimentos.jpg" alt="" class="owl-image">
      <div class="container position-absolute align-self-center text-white">
        <div class="row justify-content-center justify-content-xl-start">
          <div class="col-sm-12 col-md-8 col-lg-6 p-3">
            <div class="owl-info d-flex flex-column px-5 py-3 p-md-3">
              <h2 class="subtitle">Técnicas de Higiene y Manipulación de alimentos</h2>
              p.text-white  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sed iusto incidunt eius, facilis est.
              <a class="btn btn-sm btn-success align-self-end" href="https://unsplash.com/photos/pgR4yBMjum8" target="_blank" role="button">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item d-flex justify-content-center position-relative">
      <img src="images/primeros_auxilios.jpg" alt="" class="owl-image">
      <div class="container position-absolute align-self-center text-white">
        <div class="row justify-content-center justify-content-xl-start">
          <div class="col-sm-12 col-md-8 col-lg-6 p-3">
            <div class="owl-info d-flex flex-column px-5 py-3 p-md-3">
              <h2 class="subtitle">Primeros Auxilios para Emergencias Infantiles</h2>
              p.text-white  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sed iusto incidunt eius, facilis est.
              <a class="btn btn-sm btn-success align-self-end" href="https://unsplash.com/photos/pgR4yBMjum8" target="_blank" role="button">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="item d-flex justify-content-center position-relative">
      <img src="images/excel.jpg" alt="" class="owl-image">
      <div class="container position-absolute align-self-center text-white">
        <div class="row justify-content-center justify-content-xl-start">
          <div class="col-sm-12 col-md-8 col-lg-6 p-3">
            <div class="owl-info d-flex flex-column px-5 py-3 p-md-3">
              <h2 class="subtitle">Excel Básico, intermedio y avanzado</h2>
              p.text-white  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sed iusto incidunt eius, facilis est.
              <a class="btn btn-sm btn-success align-self-end" href="https://unsplash.com/photos/pgR4yBMjum8" target="_blank" role="button">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item d-flex justify-content-center position-relative">
      <img src="images/plantas_medicinales.jpg" alt="" class="owl-image">
      <div class="container position-absolute align-self-center text-white">
        <div class="row justify-content-center justify-content-xl-start">
          <div class="col-sm-12 col-md-8 col-lg-6 p-3">
            <div class="owl-info d-flex flex-column px-5 py-3 p-md-3">
              <h2 class="subtitle">Plantas medicinales para usos terapéuticos</h2>
              p.text-white  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sed iusto incidunt eius, facilis est.
              <a class="btn btn-sm btn-success align-self-end" href="https://unsplash.com/photos/pgR4yBMjum8" target="_blank" role="button">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item d-flex justify-content-center position-relative">
      <img src="images/manipulacion_de_alimentos.jpg" alt="" class="owl-image">
      <div class="container position-absolute align-self-center text-white">
        <div class="row justify-content-center justify-content-xl-start">
          <div class="col-sm-12 col-md-8 col-lg-6 p-3">
            <div class="owl-info d-flex flex-column px-5 py-3 p-md-3">
              <h2 class="subtitle">Técnicas de Higiene y Manipulación de alimentos</h2>
              p.text-white  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sed iusto incidunt eius, facilis est.
              <a class="btn btn-sm btn-success align-self-end" href="https://unsplash.com/photos/pgR4yBMjum8" target="_blank" role="button">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>